<a href="https://colab.research.google.com/github/JakeSiewJK64/colabNotebooks/blob/master/abalone_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np

# SET NUMPY VALUES EASIER TO READ
np.set_printoptions(precision=3, suppress=True)
import tensorflow as tf
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

In [20]:
abalone_train = pd.read_csv("https://storage.googleapis.com/download.tensorflow.org/data/abalone_train.csv", 
    names=["Length", "Diameter", "Height", "Whole weight", "Shucked weight",
           "Viscera weight", "Shell weight", "Age"])
abalone_train.iloc[:5]

   Length  Diameter  Height  ...  Viscera weight  Shell weight  Age
0   0.435     0.335   0.110  ...          0.0775        0.0965    7
1   0.585     0.450   0.125  ...          0.2075        0.2250    6
2   0.655     0.510   0.160  ...          0.2825        0.3700   14
3   0.545     0.425   0.125  ...          0.1495        0.2600   16
4   0.545     0.420   0.130  ...          0.1695        0.2300   13

[5 rows x 8 columns]

In [22]:
# SEPARATING FEATURES FROM LABELS
abalone_features = abalone_train.copy()
abalone_labels = abalone_features.pop('Age')
abalone_labels.iloc[:5] # CONTAINS ONLY THE AGE COLUMN

0     7
1     6
2    14
3    16
4    13
Name: Age, dtype: int64

In [25]:
abalone_features = np.array(abalone_features)
abalone_features

array([[0.435, 0.335, 0.11 , ..., 0.136, 0.077, 0.097],
       [0.585, 0.45 , 0.125, ..., 0.354, 0.207, 0.225],
       [0.655, 0.51 , 0.16 , ..., 0.396, 0.282, 0.37 ],
       ...,
       [0.53 , 0.42 , 0.13 , ..., 0.374, 0.167, 0.249],
       [0.395, 0.315, 0.105, ..., 0.118, 0.091, 0.119],
       [0.45 , 0.355, 0.12 , ..., 0.115, 0.067, 0.16 ]])

In [29]:
abalone_model = tf.keras.Sequential(
    [layers.Dense(64),
    layers.Dense(1)]
)
abalone_model.compile(
    loss = tf.losses.MeanSquaredError(),
    optimizer = tf.optimizers.Adam()
)

In [30]:
abalone_model.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10
104/104 [==============================] - 1s 959us/step - loss: 86.6306
Epoch 2/10
104/104 [==============================] - 0s 989us/step - loss: 17.9320
Epoch 3/10
104/104 [==============================] - 0s 1ms/step - loss: 8.7594
Epoch 4/10
104/104 [==============================] - 0s 1ms/step - loss: 8.4302
Epoch 5/10
104/104 [==============================] - 0s 1ms/step - loss: 8.1285
Epoch 6/10
104/104 [==============================] - 0s 1ms/step - loss: 7.8911
Epoch 7/10
104/104 [==============================] - 0s 1ms/step - loss: 7.6239
Epoch 8/10
104/104 [==============================] - 0s 992us/step - loss: 7.0793
Epoch 9/10
104/104 [==============================] - 0s 1ms/step - loss: 6.7137
Epoch 10/10
104/104 [==============================] - 0s 1ms/step - loss: 7.0707

In [31]:
# PRECOMPUTE THE LAYER
# CREATE THE LAYER
normalize = preprocessing.Normalization()
normalize.adapt(abalone_features)

In [59]:
abalone_model = tf.keras.Sequential(
    [normalize,
     layers.Dense(64),
    layers.Dense(1)]
)
abalone_model.compile(
    loss = tf.losses.MeanSquaredError(),
    optimizer = tf.optimizers.Adam(),
    metrics=tf.metrics.MeanAbsoluteError()
)
abalone_model.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10
104/104 [==============================] - 1s 2ms/step - loss: 104.1474 - mean_absolute_error: 9.6928
Epoch 2/10
104/104 [==============================] - 0s 1ms/step - loss: 67.0432 - mean_absolute_error: 7.7386
Epoch 3/10
104/104 [==============================] - 0s 1ms/step - loss: 26.2323 - mean_absolute_error: 4.3922
Epoch 4/10
104/104 [==============================] - 0s 1ms/step - loss: 7.2870 - mean_absolute_error: 1.8424
Epoch 5/10
104/104 [==============================] - 0s 2ms/step - loss: 5.3554 - mean_absolute_error: 1.6452
Epoch 6/10
104/104 [==============================] - 0s 1ms/step - loss: 5.2749 - mean_absolute_error: 1.6424
Epoch 7/10
104/104 [==============================] - 0s 2ms/step - loss: 5.2967 - mean_absolute_error: 1.6487
Epoch 8/10
104/104 [==============================] - 0s 1ms/step - loss: 4.7402 - mean_absolute_error: 1.5886
Epoch 9/10
104/104 [==============================] - 0s 1ms/step - loss: 4.6868 - mean_absolute_error: 1.5718
Epoch 10/10
104/104 [==============================] - 0s 1ms/step - loss: 5.1428 - mean_absolute_error: 1.6347

In [60]:
dc = dict({"Length":[0.655],
    "Diameter":[0.510],
    "Height":[0.160],
    "Whole weight":[1.092],
    "Shucked weight	":[0.3960],
    "Viscera weight	":[0.2825],
    "Shell weight":[0.3700]})						
abalone_test = pd.DataFrame.from_dict(dc)
abalone_model.predict(abalone_test)

array([[13.618]], dtype=float32)